/********************TAGS***********************/


body
{background-color: #835858;
  margin: 0;
  text-align: center;
  font-family: Merriweather;
  line-height: 2;
}
h1
{
  margin-top: 50px;
  font-family: Sacramento;
  font-size: 562.5%;
  color: #66bfbf;

margin-bottom: 0;
}
h2{
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: normal;
  color: #66bfbf;
}
h3{
  font-family: Montserrat;
  color: #11999e;
}

hr{
  border-style: dotted none none none;
  margin: 70px auto 30px auto;
  border-width: 10px;
  width: 10%;
  border-color: #a6a6a4;
}
a
{
  color:#ffd57e;
  margin: 10px 20px;
  font-family: Montserrat;
  text-decoration: none;
}
a:hover{
  color:#590995;
}
/*******************CLASS***********************/
.intro
{
  margin:auto;
  line-height: 2;
}
.poblue
{
  background-color: #3d7ea6;
position: relative;

  padding-top: 150px;
  margin-bottom: 20px;

}
.upcloud
{
  position: absolute;
  right: 500px;
  top:80px;
}
.bottom-cloud
{
  position: absolute;
  left:500px;
top: 400px;
}
.copy
{
  margin-top: 20px 0;
  color:#590995;
  font-size: 0.8rem;
}
.computer
{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.skills
{
  margin-top: 100px;
}
.chilli
{float: right;
  width: 25%;
margin-left: 30px;
}
.skill-row
{
  width:50%;
  margin:70px auto 180px auto;
  text-align: left;
  line-height: 2;
}
.contact-me
{
  margin-top: 130px;
  margin-bottom: 100px;
}
.bottom-container
{margin-top: 50px;
  background-color:#3d7ea6;
  padding-bottom: 20px;
  padding-top: 10px;
}

/*******************ID**************************/
